#main-main {
  max-width: 121.6rem;
  margin: 4rem auto 0rem;
  display: grid;
  row-gap: 8rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.6rem;
}

.content_list-fisrt {
  list-style-type: none;
}

.content_list_item-robotica > a {
  display: grid;
  text-decoration-color: transparent;
  align-items: end;
  max-width: 60.8rem;
  height: 41.6rem;
  background: url("../images/fundos/Image\ 01.png") center / cover no-repeat
    scroll;
}
.content_list_item-robotica:hover > a {
  text-decoration-color: white;
}

.content_list_item-robotica > a > div {
  max-width: 100%;
  padding: 0.8rem 2.4rem 2.4rem 2.4rem;
  background-image: linear-gradient(to top, black 1%, transparent 40%);
}

.content_list_item-robotica > a > div > span {
  font: var(---span);
  color: var(--text-color-primary);
  background-color: var(--brand-color-dark);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.content_list_item-robotica > a > div > p {
  font: var(---heading1);
  color: var(--text-color-primary);
}

/****************************/

.content_list-secondary {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.content_list-secondary > li > a {
  text-decoration-color: transparent;
}
.content_list-secondary > .content_list_item-hologramas:hover > a {
  text-decoration-color: white;
}
.content_list-secondary > .content_list_item-internet:hover > a {
  text-decoration-color: white;
}
.content_list-secondary > .content_list_item-vestiveis:hover > a {
  text-decoration-color: white;
}
.content_list-secondary > .content_list_item-realidadevirtual:hover > a {
  text-decoration-color: white;
}

.content_list-secondary > li > a {
  display: grid;
  height: 100%;
  align-items: end;
}

.content_list-secondary > li > a > div > span {
  font: var(---span);
  color: var(--text-color-primary);
  background-color: var(--brand-color-dark);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.content_list-secondary > li > a > div > p {
  font: var(---heading3);
  color: var(--text-color-primary);
  margin-top: 0.8rem;
}

.content_list-secondary > li > a > div {
  background-image: linear-gradient(to top, black 1%, transparent 40%);
  padding: 1.2rem;
}
/*********/
.content_list_item-hologramas > a {
  background: url("../images/fundos/Image\ 02.png") center / cover;
}

.content_list_item-internet > a {
  background: url("../images/fundos/Image\ 03.png") center / cover;
}

.content_list_item-vestiveis > a {
  background: url("../images/fundos/Image\ 04.png") center / cover;
}
.content_list_item-realidadevirtual > a {
  background: url("../images/fundos/Image\ 05.png") center / cover;
}

/************SECTION SECONDARY******************/
#mais-lidas {
  display: grid;
  row-gap: 2.4rem;
}
.mais-lidas_fisrt-bar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}
.mais-lidas_fisrt-bar > a {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.4rem;
  padding: 0.2rem 0rem;
  text-decoration-color: transparent;
}

.mais-lidas_fisrt-bar > a:hover {
  text-decoration-color: var(--brand-color-dark);
}

.mais-lidas_fisrt-bar > p {
  font: var(---span);
  color: var(--text-color-secondary);
}

.mais-lidas_fisrt-bar > a > span {
  font: var(---span);
  color: var(--text-color-secondary);
}

.lista {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  column-gap: 1.6rem;
}

.lista > li > a {
  display: grid;
  row-gap: 0.8rem;
  text-decoration-color: transparent;
}
.lista > li > a:hover {
  text-decoration-color: white;
}

.lista > li > a > div {
  height: 19.2rem;
  padding: 0.8rem;
}

.lista > li > a > div > span {
  font: var(---span);
  color: var(--text-color-primary);
  background-color: var(--brand-color-dark);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.lista > li > a > p {
  font: var(---heading2);
  color: var(--text-color-primary);
  max-height: 6.6rem;

  overflow: hidden;
}

.lista_item-veiculos > a > div {
  background: url("../images/fundos/Image\ 06.png") center / cover no-repeat;
}
.lista_item-hologramas > a > div {
  background: url("../images/fundos/Image\ 07.png") center / cover no-repeat;
}
.lista_item-realidade-virtual > a > div {
  background: url("../images/fundos/Image\ 08.png") center / cover no-repeat;
}
.lista_item-internet > a > div {
  background: url("../images/fundos/Image\ 09.png") center / cover no-repeat;
}

/**************last-section**********************/

.last-section {
  display: grid;
  grid-template-columns: minmax(70rem, 70rem) 1fr;
  column-gap: 3.2rem;
}

.lista-destaque-ia > li {
  display: grid;
  row-gap: 3.2rem;
}
.lista-destaque-ia > li > a {
  max-height: 13.6rem;
  overflow: hidden;
}

.lista-destaque-ia_item-title {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.lista-destaque-ia_item-title > p {
  font: var(---span);
  color: var(--text-color-secondary);
}
.lista-destaque-ia_item-title > a {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 0.4rem;
  text-decoration-color: transparent;
}
.lista-destaque-ia_item-title > a:hover {
  text-decoration-color: white;
}

.lista-destaque-ia_item-title > a > span {
  font: var(---span);
  color: var(--text-color-secondary);
}

/**Itens*/
.lista-destaque-ia_item {
  margin-top: 2.4rem;
}

.lista-destaque-ia_item > a {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1.6rem;
  text-decoration-color: transparent;
}
.lista-destaque-ia_item > a:hover {
  text-decoration-color: white;
}

.lista-destaque-ia_item > a > div > span {
  font: var(---span);
  color: var(--text-color-primary);
  background-color: var(--brand-color-dark);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.lista-destaque-ia_item > a > div > p:first-of-type {
  font: var(---heading3);
  color: var(--text-color-primary);
  margin-top: 0.8rem;
}

.lista-destaque-ia_item > a > div > p:last-of-type {
  font: var(---paragraph);
  color: var(--text-color-secondary);
  margin-top: 0.8rem;
}

.lista-destaque-ia_item > a > img {
  max-width: 17.6rem;
}

/**Aside**/
.main-aside {
  max-width: 48.8rem;
  display: grid;
  background-color: lime;
}
.main-aside > a > img{
  max-width: 100%;
}
