@import url("../config.css");

#main-Gallery {
  width: 128rem;
  max-width: 128rem;
  margin: 0 auto;
  background-color: var(--background-color);
}
.section-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  padding: 2.4rem 3.2rem;
}

.section-gallery > img {
  cursor: pointer;
  max-width: 28.6rem;
  max-height: 28.6rem;
  opacity: 0.8;
  object-fit: contain;

  transform: scale(1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.section-gallery > img:hover {
  transform: scale(0.95);
  opacity: 1;
}
